@import "tailwindcss";

@font-face {
  font-family: "Groote";
  src: url("./assets/font/Groote-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-body: "Lexend", sans-serif;
  --font-heading: "Groote", sans-serif;
}

body {
  font-family: var(--font-body);
}

.content-area{
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  
  }
  &:hover::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}